{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Landing page</title>
	<link href="https://fonts.googleapis.com/css?family=Caveat|Poppins&display=swap" rel="stylesheet">
    <link href="{% static 'stylekabar.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-5 text-atas">
            <h1 id='halo'>Halo, apa kabar?</h1>
            <form class="" id="form" method="POST" action="/">
                {% csrf_token %}
                {{form.mood}}
                <button id='submit' type="submit" class="btn btn-outline-info submit-buton">+</button>
            </form>
        </div>
        <div class="col-lg-6">
            
        </div>
    </div>
    <div class="row kartu">
        {% for moodku in daftarMood %}
        <div class="card text-center text-black bg-white mb-3 bates-card" style="max-width: 18rem;">
                <div class="card-header text-black">{{moodku.waktu}}</div>
                <div class="card-body bg-dark text-white">
                    <p class="card-text">{{moodku.mood}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

