.container{
    margin: 0;
}

.text-atas{
    margin-top: 5rem;
    margin-left: 5rem;
}

.submit-buton{
    float: right;
    margin-top: 0.5rem;
}

.bates-card{
    margin: 0.5rem;
}

.card-body{
    width: 15rem !important;
    height: 10rem !important;
}

.row{
    margin: 0;
}
    
.container{
    padding: 0;
}

.kartu{
    width: 100%;
    margin-top: 6rem;
    margin-left: 5rem;
}

body{
}